<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="CraigFowlerPatterns">
      <section name="RepositoryFactories"
              type="CSF.Patterns.DDD.Data.RepositoryFactoryConfiguration, CSF.Patterns.DDD" />
      <section name="SessionState"
              type="CSF.Patterns.DDD.SessionState.SessionStorageConfiguration, CSF.Patterns.DDD" />
    </sectionGroup>
  </configSections>
  
  <RepositoryFactories>
    <factories>
      <add name="Default" type="CSF.Patterns.DDD.Mocks.Data.DummyRepositoryFactory">
        <settings>
          <add property="ConnectionString" value="Server=localhost;User=root" />
          <add property="ProviderNamespace" value="MySql.Data" />
        </settings>
      </add>
      <add name="Test" type="CSF.Patterns.DDD.Mocks.Data.DummyConfiguredFactory">
        <settings>
          <add property="ConnectionStringName" value="sample" />
        </settings>
      </add>
      <add name="Memory" type="CSF.Patterns.DDD.Data.Memory.MemoryRepositoryFactory" />
    </factories>
  </RepositoryFactories>
  
  <SessionState type="CSF.Patterns.DDD.SessionState.MemorySessionStorage" />

  <connectionStrings>
    <add name="sample"
         connectionString="Server=127.0.0.1;Port=3306;Database=test;User ID=root;Allow User Variables=True"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>
