<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="CraigFowlerPatterns">
      <section name="RepositoryFactories"
              type="CraigFowler.Patterns.DDD.Data.RepositoryFactoryConfiguration, Entity" />
      <section name="SessionState"
              type="CraigFowler.Patterns.DDD.SessionState.SessionStorageConfiguration, Entity" />
    </sectionGroup>
  </configSections>
  
  <RepositoryFactories>
    <factories>
      <add name="Default" type="CraigFowler.Patterns.DDD.Mocks.Data.DummyRepositoryFactory">
        <settings>
          <add property="ConnectionString" value="Server=localhost;User=root" />
          <add property="ProviderNamespace" value="MySql.Data" />
        </settings>
      </add>
    </factories>
  </RepositoryFactories>
  
  <SessionState type="CraigFowler.Patterns.DDD.SessionState.MemorySessionStorage" />
  
</configuration>
